@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.nav_links {
    display: flex;
    justify-content: right;
}

.nav_li {
    display: flex;
    list-style: none;
}

    .nav_li a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        text-decoration: none;
        background-color: #404040;
        color: white;
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 400;
        width: 140px;
        height: 45px;
        text-transform: uppercase;
    }

        .nav_li a:hover {
            background-color: rgb(19 175 234);
        }

        .nav_li a:active {
            background-color: rgb(0 255 255);
        }


.content {
    display: flex;
    width: 100vw;
    justify-content: center;
}


.frm-body {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('userform.jpg');
    margin: 5vh 0 5vh 0;
    justify-content: center;
    align-items: center;
}

    .frm-body .frm-title {
        color: white;
        font-family: "Montserrat",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 20px;
    }

form .row {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    font-family: "Montserrat",sans-serif;
    margin-top: 10px;
}

.row .input-data {
    font-size: 16px;
    color: white;
    height: 60px;
}

.input-data label {
    text-transform: uppercase;
}

.input-data .textbox {
    color: rgb(255, 255, 255);
    height: 30px;
    width: 200px;
    font-size: 16px;
    border: 2px white solid;
    border-radius: 2px;
    padding: 10px;
    margin-top: 5px;
    background-color: #404040;
    font-weight: 300;
}

.input-data .txtArea {
    color: rgb(255, 255, 255);
    height: 60px;
    width: 30vw;
    font-size: 16px;
    border: 2px white solid;
    border-radius: 2px;
    margin-top: 5px;
    font-family: "Montserrat",sans-serif;
    background-color: #404040;
    font-weight: 400;
}




.btn {
    height: 40px;
    width: 30vw;
    margin-top: 40px;
    background-color: rgb(3, 187, 80);
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    border: rgb(3, 187, 80);
}


.btn:hover {
    background-color: rgb(10, 224, 99);
}

.btn:active {
    background-color: rgb(14, 168, 78);
}


.message-content-C, .message-content-CI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(36, 36, 36, 0.774);
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
}

.message-content-C {
    display: flex;
}

.message-content-CI {
    display: flex;
}

.message-header-C, .message-header-CI {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: rgba(36, 36, 36, 0.774);
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: "Raleway",sans-serif;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: #f0f0f0 3px solid;
}

    .message-header-C img, .message-content-CI img {
        max-width: 90px;
        max-height: 90px;
        padding: 10px;
    }

    .message-header-C h2, .message-content-CI h2 {
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
    }

    .message-header-C label, .message-content-CI label {
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
    }

.msg-btns {
    margin: 30px;
}

.ms-btn {
    text-decoration: none;
    background: white;
    color: rgb(12, 63, 38);
    padding: 15px 70px;
    margin-top: 10px;
    text-transform: uppercase;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 100px;
}

    .ms-btn:hover {
        background: rgb(15, 126, 70);
        color: rgb(235, 235, 235);
    }

    .ms-btn:active {
        background: rgb(13, 145, 79);
        color: rgb(235, 235, 235);
    }


.heading {
    font-size: 30px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.card {
    height: 400px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}

    .card .bg-image .img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        background-color: rgb(3, 187, 80);
        clip-path: polygon(0 0, 100% 0%,100% 70%,45% 100%,0 75%);
    }

    .card .pic img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 10px solid #222;
        margin-top: -90px;
        position: relative;
    }

    .card .info .firstname, .card .info .lastname {
        color: rgb(255, 255, 255);
        font-family: "Montserrat",sans-serif;
        text-transform: uppercase;
        font-size: 17px;
        padding: 2px 0;
        font-weight: 600;
        letter-spacing: 3px;
    }


    .card .info .emailA {
        margin-top: 5px;
        color: rgb(3, 187, 80);
        font-family: "Montserrat",sans-serif;
        font-size: 14px;
        padding: 2px 0;
        font-weight: 500;
    }

    .card .info .age {
        margin-top: 5px;
        color: #f0f0f0;
        font-family: "Montserrat",sans-serif;
        font-size: 13px;
        padding: 2px 0;
        font-weight: 500;
    }

    .card .info .from {
        margin-top: 10px;
        color: #f0f0f0;
        font-family: "Montserrat",sans-serif;
        font-size: 15px;
        padding: 2px 0;
        font-weight: 500;
    }

    .card .info .address {
        margin-top: 5px;
        color: #f0f0f0;
        font-family: "Montserrat",sans-serif;
        font-size: 14px;
        padding: 2px 0;
        font-weight: 400;
        margin-bottom: 5px;
    }

.btn1:link, .btn1:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 60px;
    display: inline-block;
    border-radius: 2px;
    font-size: 13px;
    font-family: "Montserrat",sans-serif;
}

.btn-open {
    background-color: rgb(3, 187, 80);
    color: rgb(255, 255, 255);
}

    .btn-open:hover {
        background-color: rgb(8, 216, 95);
        color: rgb(255, 255, 255);
    }

    .btn-open:active {
        background-color: rgb(6, 170, 74);
        color: rgb(255, 255, 255);
    }
    
.container-detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.card-detail {
    height: 450px;
    width: 600px;
    margin: 20px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}

    .card-detail .bg-image-detail .img-detail {
        width: 100%;
        height: 120px;
        object-fit: cover;
        background-color: rgb(3, 187, 80);
        clip-path: polygon(0 0, 100% 0%,100% 70%,45% 100%,0 75%);
    }

    .card-detail .pic-detail img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 10px solid #222;
        margin-top: -90px;
        position: relative;
    }

    .card-detail .info-detail .firstname-detail, .card-detail .info-detail .lastname-detail {
        display: inline;
        color: rgb(255, 255, 255);
        font-family: "Montserrat",sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        padding: 2px 0;
        font-weight: 600;
        letter-spacing: 3px;
    }

    .card-detail .info-detail .emailA-detail {
        margin-top: 5px;
        color: rgb(3, 187, 80);
        font-family: "Montserrat",sans-serif;
        font-size: 16px;
        padding: 2px 0;
        font-weight: 500;
    }

    .card-detail .info-detail .age-detail {
        margin-top: 5px;
        color: #f0f0f0;
        font-family: "Montserrat",sans-serif;
        font-size: 15px;
        padding: 2px 0;
        font-weight: 500;
    }

    .card-detail .info-detail .from-detail {
        margin-top: 10px;
        color: #f0f0f0;
        font-family: "Montserrat",sans-serif;
        font-size: 16px;
        padding: 2px 0;
        font-weight: 500;
    }

    .card-detail .info-detail .address-detail {
        margin-top: 5px;
        color: #f0f0f0;
        font-family: "Montserrat",sans-serif;
        font-size: 17px;
        padding: 2px 0;
        font-weight: 400;
        margin-bottom: 15px;
    }

.btn-userDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 80px;
    margin-left: 20%;
}

.btn-edit {
    padding: 20px 0 20px 0;
    width: 160px;
    background-color: rgb(250, 250, 250);
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    color: rgb(61, 61, 61);
    border-radius: 100px;
    font-weight: 500;
}

    .btn-edit:hover {
        background-color: rgb(124, 247, 252);
    }

    .btn-edit:active {
        background-color: rgb(61, 207, 212);
        color: white;
    }

.btn-delete {
    padding: 20px 0 20px 0;
    background-color: rgb(250, 250, 250);
    width: 160px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    color: rgb(61, 61, 61);
    border-radius: 100px;
    font-weight: 500;
}

    .btn-delete:hover {
        background-color: rgb(252, 124, 124);
    }

    .btn-delete:active {
        background-color: rgb(212, 61, 61);
        color: white;
    }

.allusers {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    border-radius: 2px;
    font-size: 13px;
    font-family: "Montserrat",sans-serif;
    width: 300px;
}

    .allusers:hover {
        color: rgb(62, 182, 72);
    }

    .allusers:active {
        color: rgb(29, 88, 34);
    }

.message-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(36, 36, 36, 0.774);
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    display: none;
}

.message-head-delete {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: rgb(49, 49, 49);
    border: #f0f0f0 3px solid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: "Raleway",sans-serif;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

    .message-head-delete img {
        max-width: 90px;
        max-height: 90px;
        padding: 10px;
    }

    .message-head-delete h2, .message-head-delete label {
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
    }

.msg-btns-del {
    margin: 30px;
}

.ms-btn-cancel, .ms-btn-delete {
    text-decoration: none;
    background: white;
    color: rgb(12, 63, 38);
    padding: 15px 30px;
    margin: 25px;
    text-transform: uppercase;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 100px;
}

    .ms-btn-cancel:hover {
        background: rgb(97, 83, 221);
        color: rgb(235, 235, 235);
    }

    .ms-btn-delete:hover {
        background: rgb(250, 64, 79);
        color: rgb(235, 235, 235);
    }

    .ms-btn-delete:active {
        background: rgb(207, 52, 65);
        color: rgb(235, 235, 235);
    }

    .ms-btn-cancel:active {
        background: rgb(58, 47, 158);
        color: rgb(235, 235, 235);
    }