*{
    margin:0;
    font-family: sans-serif;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(213, 226, 202, 0.75)rgba(213, 226, 202, 0.75)), url("background image.jpg")
    height 750px;
    background-size: cover;
    background-position: right;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(255,255,255);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo-img{
    float:left;
    width: 150px;
    height: auto;

}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
}
.title h1{
 color:rgb(233, 34, 34);
 font-size:70px;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 50px;
    border-radius: 30px;
    position: center;
    background-color: #000;
    color: #00ffff;
    text-decoration: none;
    transition: 0,6s ease;
    overflow: hidden;
}
.btn:hover{
    background-color: rgb(57,20,225);
    color: #000;
}
.p{
    position: center;
    top: 80%;
    left: 50%;
    transform: translate(-80%-80%);
}

.title p{
    color: rgb(255,255,255);
    font-size: 20px;
    margin: 10%;
}
.main{
    background-image: url("background image.jpg");
    height:100vh;
    width: 100%
    background-image;  linear-gradient(rgba(3,7,0,0.8),rgba(39,37,35,0.75)) url("background image.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover ;
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow:hidden;
    margin: top -6px;
}