*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
div.main{
    background-image: url("children.webp");
    height: 100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding-top:25px ;
}
.content{
    color: rgb(224, 218, 218);
    text-align: center;
    margin-top: 10%;
}
.logo{
    width: 60px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}
ul li{
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(231, 231, 236);
    text-transform: uppercase;
    text-align:end;
    
}
button{
    border: 2px solid black;
    border-radius:20px;
    color: white;
    background:transparent;
    margin: 20px 10px;
    padding: 10px 40px;
    text-align:center;
    font-weight:bold;
}
.btn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
button:hover{
    border: 3px solid rgb(27, 25, 25);
    background: rgb(242, 240, 247);
    color: black;
}














