*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
div.main{
    background-image: linear-gradient(to bottom , rgba(121, 13, 184, 0.75),rgba(235, 57, 57, 0.75)),url("image/img1.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul li{
    list-style:none;
    display: inline;
    margin-left:20px;
}
li a{
    text-decoration: none;
    color: rgb(14, 10, 10);
    text-transform: uppercase;
}
.logo{
    width: 50px;
    height: 50px;
    cursor:pointer;
    border-style: solid;
    border-color: rgb(39, 3, 122);
    border-radius: 50%;
    position: relative;
}
.navbar{
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top:25px;
    margin: 0 100px;
}
.content{
    display: inline-block;
    text-align: center;
    color: rgb(12, 2, 2);
    text-align: center;
    margin-top: 10%;
}
button {
    width: 100px;
    padding: 15px;
    border-style: solid;
    border-color: blue;
    color: rgb(17, 1, 1);
    background: transparent;
    margin: 20px 10px;
    font-family: serif;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    background-color: rgb(154, 154, 231);
}
.btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
} 