body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgb(0,0,0,0.75)), url("flour.jpg");
    background-size: cover;
    background-position-y: 10%;
}

.box{ 
    background-image:linear-gradient(rgba(0,0,0,0.75),rgb(0,0,0,0.75)) url("soup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
    top: 50%;
    left: 52.5%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

p{
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

 input[type="text"], input[type="password"] ,input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2196f3;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

input[type="submit"]:hover
{
    cursor: pointer;
    background: #0097a7;
}

A
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #0097a7;
}

a:hover
{
    color: white;
}