*{
    margin: 0;
    font-family: serif;
    padding: 0; 
 }
 .main{
     background-image: url("luxc01.jpg");
     height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(223, 193, 193, 0.87),rgba(15, 1, 1, 0.75)), url("luxc01.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
 }
  ul{
     list-style-type: none;
     margin-top: 25px;
    float: right;   
 }
 ul li{
     display: inline-block;
 }
  ul li a{
     color: rgb(58, 5, 5);
     text-decoration: none;
     text-transform: uppercase;
     border: 1px solid transparent;
     transition: 0.6s ease;
     padding: 14px 16px;
 }
 ul li a:hover{
     background-color:white;
     color: rgb(167, 164, 164);
 
 }
 
 ul li.active a{
     background-color: rgb(226, 221, 221);
     color: rgb(105, 102, 102);
 }
 
 .logo img{
     float: left;
     width: 150px;
     height: auto;
 }
 .title{
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 .title h2{
     color: rgb(10, 10, 10);
     font-size: 60px;
 }
 button{
     width: 100px;
     padding: 10px 0;
     text-align: center;
     margin: 20px 10px;
     border-radius: 30px;
     background: transparent;
     color:rgb(59, 5, 5);
     font-size: 20px;
     font-weight:bold;
     cursor: pointer;
     border: 2px solid #080808de;
     position:relative;
     overflow: hidden;
 }
 
 div.btn{
     width: 30%;
     top: 700%;
     padding-top: 65%;
     padding-left: 25%;
     text-align:center;
     transform:translate(20%)
 }
 
 span{
     background: rgb(206, 128, 20);
     height: 100%;
     width: 0;
     border-radius: 30px;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: -1;
     transition: 0.6s;
 }
 
 button:hover span{
     width: 100%;
 }
 button:hover{
     border: none;
 }
 
 .p{
     position: center;
     top: 50%;
     left: 50%;
     transform: translate(-70%,-70%);
     margin-top: 10%;
 }
 .title p{
     color: rgb(238, 218, 218);
     font-size: 20px;
     margin: 10%;
 }
 span{
     background: rgb(165, 157, 146);
     height: 100%;
     width: 0;
     border-radius: 30px;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: -1;
     transition: 0.6s;
 }
 