body{
    background-color: #000;
    font-family: sans-serif;
}

.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 250px;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 25px; 
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
